<div class="box-app-fixed">
	<div class="box-app-fixed-inner">
	</div>
</div>			
<ul id="msg-stream" class="box-app" style="{{fullHeightPage}}">		
	<li class="msg from-{{getUserRoleAsClass attributes.authorID}}">
		<div class="msg-dtl">
			<img class="avatar" src="{{getUserAvatar attributes.authorID}}" alt="{{getUserName attributes.authorID}}"/>
			<div class="msg-dtl-inr">
				<h3 class="msg-agent">{{getUserName attributes.authorID}}</h3>
				<h4 class="msg-company">{{getCompanyName attributes.authorID}}</h4>
				<div class="msg-date">{{convertToDateTime attributes.date}}</div>
			</div>
			<div class="msg-tri"></div>
		</div>
		<div class="msg-body">					
			<div class="msg-subject">
				<h5>{{attributes.subject}}</h5>	
				<span>Ticket #{{attributes.reference}}</span>						
			</div>
			<div>
				{{attributes.message}}							
			</div>						
			<ul class="files">
			{{#each attributes.files}}
				<li class="file">
					<div class="file-text">
		  				<div class="file-icon">
		  					<span>
		  					{{#if type}}
		  					{{formatFileType type}}
		  					{{else}}
		  					FILE
		  					{{/if}}
		  					</span>
		  				</div>
		  				<div class="file-info">
							<div class="filename">{{name}}</div>
							{{showFilePreviewLink type @index}}
							<a data-bypass="true" href="/api/tickets/file/{{ref}}">Download</a>
						</div>
					</div>
				</li>	
			{{/each}}
			</ul>
			{{downloadTicketAttachments attributes.files}}
		{{#if messagesCollection.length}}
			</div>											
		{{else}}
		<a class="btn reply-btn">Reply</a>
		</div>
		<div class="reply">
			<form id="form-reply">
				<textarea class="required" name="new-textarea" placeholder="Please add your comments here..."></textarea>	
				<div id="file-upload-view-wrap">	
				</div>
				{{outputMarkAsCompleted}}
				<div class="reply-submit-buttons">
					<button class="add-message" type="button">Submit</button>
					<div class="beige or">or</div>
					<a class="cancel-btn ib">Cancel</a>
				</div>
			</form>
		</div>					
		{{/if}}						
	</li>
	<div id="messages-wrap">
	</div>	
</ul>